
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: rgb(105, 107, 107);
}
button {
    color: black;
}
input {
    color: black;
}
img {
    width: 800px;
    height: 300px;
    border-radius: 3px;
}

#source {
    width: 100px;
    height: 150px;
}

h5 {
    font-size: 20px;;
}

#funcImg {
    width: 400px;
    height: 100px;
}

#obj2 {
    width: 500px;
    height: 150px;
}

#arr {
    width: 400px;
    height: 65px;
}

#example {
    color: aqua;
    font-size: 1.2rem;
}

span {
    color: red;
    font-weight: bold;
}

#arr2 {
    width: 800px;
    height: 300px;
}

#arr3 {
    width: 500px;
    height: 150px;
}